<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/frontend.css}"/>
    <title>Assignee</title>
</head>
<body>
<h1>Assignee List:</h1>
<div class="alink">
    <a href="/assignee/add">Add new assignee</a>
    <a href="/assignee/">Main page</a>
    <a href="/assignee/searchAssignee">Search</a>
    <a href="/todo/">Todos</a>
    <br><br>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="assignees : ${assigneelist}" th:object="${assignees}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td>
            <form method="post" action="/assignee/removeAssignee">
                <input type="hidden" th:value="*{id}" name="remove">
                <input type="submit" value="Delete" class="inputbutton">
            </form>
        </td>
        <td>
            <a th:href="'/assignee/' + *{id} + '/editAssignee'">
                <button class="button">Edit</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>