<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/frontend.css}"/>
</head>
<body>
<h1>Edit Todo</h1>
<form method="POST">
    <label>Todo Description</label>
    <input type="text" th:field="${editTodos.title}"><br>
    <div>
        <label>Assignees</label>
        <select name="assigneeId">
            <option th:each="assignees : ${assigneelist}" th:text="${assignees.name}" th:value="${assignees.id}"></option>
        </select>
    </div>
    <label>Urgent</label>
    <input type="checkbox" th:field="${editTodos.urgent}"><br>
    <label>Done</label>
    <input type="checkbox" th:field="${editTodos.done}" class="inputbutton"><br><br>
    <button type="submit">Submit</button>
    <a href="/todo/">
    <button type="button">Cancel</button>
    </a>
</form>
</body>
</html>