<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Todos for today:</title>
</head>
<body>
<h1>Todays Todo List:</h1>
<a href="?isActive=true">It is not done</a>
<a href="/todo/add">Add new todo</a>
<br><br>
<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
    </tr>
    <tr th:each="todos : ${todolist}" th:object="${todos}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isUrgent()}"></td>
        <td th:text="*{isDone()}"></td>
    </tr>
</table>
</body>
</html>