<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Todos for today:</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

</head>
<body>
<h1>Todays Todo List:</h1>
<a href="?isActive=true">It is not done</a>
<a href="/todo/add">Add new todo</a>
<a href="/todo/">Main page</a>
<br><br>
<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="todos : ${todolist}" th:object="${todos}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isUrgent()}"></td>
        <td th:text="*{isDone()}"></td>
        <td>
            <form method="post" action="/todo/removeTodo">
                <input type="hidden" th:value="*{id}" name="remove">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="'/todo/' + *{id} + '/edit'">
                <button class="button">Edit</button>
            </a>
        </td>
    </tr>
</table>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

</body>
</html>