table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-radius: 6px;
    border-spacing: 0;
    border: 4px solid black;
    width: 100%;}

/* top-left border-radius */
table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
    border-top-left-radius: 6px;
}
/* top-right border-radius */
table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
    border-top-right-radius: 6px;
}
/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.top {
    font-size: 20px;
    margin-left: 35%;
    background-color: coral;
    padding-top: 25px;
    padding-bottom: 25px;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
a {
    margin-left: 25px;
    font-size: 18px;
}

.alink {
    text-align: center;
    font-max-size: 50px;
}

button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.inputbutton {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}
