<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body><h2>Bank of Simba</h2>
<table>
    <tr>
        <th>Index</th>
        <th>Bank Account Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>King / Peasant</th>
        <th>Bad Guy / Good Guy</th>
        <th>Donate</th>
    </tr>
    <tr th:each="account : ${allaccount}" th:object="${account}">
        <td th:text="${accountStat.count}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{#numbers.formatDecimal(balance, 0, 'POINT', 2, 'COMMA') + ' Zebra'}"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="*{isKing()} ? 'King' : 'Peasant'"></td>
        <td th:text="*{isGood()} ? 'Good Guy' : 'Bad Guy'"></td>
        <td>
            <form method="post" action="donate">
                <input type="hidden" th:value="${accountStat.index}" name="index">
                <input type="submit" value="Donate">
            </form>
        </td>

    </tr>
</table>
</br>
<td th:utext="${showman}"></td>
</br>
<td th:text="${showman}"></td>
</div>
</body>
</html>