form {
    /* Just to center the form on the page */
    margin: 200px auto;
    width: 300px;
    /* To see the outline of the form */
    padding: 50px;
    border: 1px solid #CCC;
    /*border-radius: 4px;*/
    background-color: white;
}
body {
    background-color: #CCCCCC;
}

form div {
    margin-top: 30px;
}
form input {
    margin-top: 10px;
    height: 40px;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    /*display: inline-block;*/
    width: 200px;
    text-align: right;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    /*margin-left: .5em;*/
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    border: black;
    border-radius: 30px;
    font-size: 15px;
}
#forgot_password {
    /*formatting the Forgot Password field*/
    margin-left: 228px;
    font-size: 10px;
}

#username {
    font-size: 25px;
}

#password {
    font-size: 25px;
}

#username_text {
    font-size: 10px;
}
#password_text {
    font-size: 10px;
}

#account_login {
    font-size: 30px;
}