form {
    margin: 150px auto;
    width: 800px;
    height: 500px;
    padding: 50px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgb(152, 152, 152);
}

body {
    background: #CCCCCC;
    margin: 0px;
    padding: 0px;
}

#account_login {
    font-size: 50px;
}

#username {
    width: 290px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 0px;
    border-bottom: 3px solid rgb(22, 160, 133);
    margin-top: 50px;
}

#email {
    width: 290px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 0px;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-top: 30px;
}

#password {
    width: 290px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 0px;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-top: 30px;
}

#re_password {
    width: 290px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 0px;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-top: 30px;
}

#signMeIn {
    background-color: rgb(22, 160, 133);
    color: white;
    height: 50px;
    width: 200px;
    border: 0px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
}

#or {
    background-color: rgb(221, 221, 221);
    color: black;
    height: 50px;
    width: 50px;
    border: black;
    border-radius: 30px;
    font-size: 15px;
    box-shadow: 0 1px 1px 1px rgb(152, 152, 152);
}

#facebook {
    width: 350px;
    hight: 30px;
    margin-top: 180px;
    background-color: rgb(50, 80, 142);
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#twitter {
    width: 350px;
    hight: 30px;
    margin-top: 30px;
    background-color: rgb(85, 172, 238);
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#google {
    width: 350px;
    hight: 30px;
    margin-top: 30px;
    background-color: rgb(221, 75, 57);
    padding: 15px;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    /*font-family: "Bookman Old Style";*/
}
